#addon-wrapping {
  border: none;
  background-color: transparent;
}

.cancel-add {
  padding: 10px;
  font-size: 25px;
  vertical-align: middle;
  color: #434343;
  cursor: pointer;
}

.btn-light {
  background-color: #ccc;
  border-color: #ccc;
}