#addon-wrapping {
  border: none;
  background-color: transparent;
}

.cancel-add {
  padding: 10px;
  font-size: 25px;
  vertical-align: middle;
  color: #434343;
  cursor: pointer;
}

.btn-light {
  background-color: #ccc;
  border-color: #ccc;
}

.color-white {
  color: #fff !important;
}

.inline-edit-input {
  width: 100%;
  border: 1px solid #172b4d;
  padding-left: 5px;
}