<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lemonada&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div id="kanban">
        <nav>
            <div class="nav-left">
                <i class="fab fa-dochub" style="font-size: 30px;"></i>
            </div>
            <div class="nav-center">
                <button type="button" class="btn btn-primary" v-if="currentPage === 'landing'">ADD PROJECT</button>
            </div>
            <div class="nav-right">
                <button type="button" class="btn btn-primary" v-if="currentPage === 'register'" v-on:click.prevent="currentPage = 'login'">LOGIN</button>
                <button type="button" class="btn btn-success" v-if="currentPage === 'login'" v-on:click.prevent="currentPage = 'register'">REGISTER</button>
                <button type="button" class="btn btn-danger" v-if="currentPage === 'landing'" @click="logout">LOGOUT</button>
            </div>
        </nav>
        
        <div class="container" v-if="currentPage === 'register'">
            <div id="form-regis">
                <h1 style="font-family: 'Lemonada', cursive;">REGISTER</h1>
                <form  v-on:submit.prevent="regis">
                    <label>FIRST NAME</label>
                    <input id="first-name-regis" type="text" required v-model="register.first_name"></input>
                    <label>LAST NAME</label>
                    <input id="last-name-regis" type="text" required v-model="register.last_name"></input>
                    <label>EMAIL</label>
                    <input id="email-regis" type="email" required v-model="register.email"></input>
                    <label>PASSWORD</label>
                    <input id="password-regis" type="password" required v-model="register.password"></input>
                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                </form>
            </div>
        </div>

        <div class="container" v-else-if="currentPage === 'login'">
            <div id="form-login">
                <h1 style="font-family: 'Lemonada', cursive;">LOG IN</h1>
                <form v-on:submit.prevent="login">
                    <label>EMAIL</label>
                    <input type="email" required v-model="valLogin.email"></input>
                    <label>PASSWORD</label>
                    <input type="password" required v-model="valLogin.password"></input>
                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                </form>
            </div>
        </div>
    
        <div class="home" v-else-if="currentPage === 'landing'">
            <div class="plan">
                <div class="title">
                    <i class="fab fa-telegram-plane"></i> PLAN
                </div>
                <div class="card" id="card-title" v-for="data in dataPlan" :key="data.id">
                    <div class="card-content">
                      <p>{{ data.title }}</p>
                    </div>
                    <div class="card-tabs" id="plan-card-title-center">
                        <i class="fas fa-user"></i>
                        <i class="fas fa-edit"></i>
                        <a @click="hapus(data.id)"><i class="fas fa-trash-alt" ></i></a>
                    </div>
                    <div class="card-content grey lighten-4" id="plan-card-title-bottom">
                        <i class="fas fa-forward" id="next"></i>
                    </div>
                </div>
            </div>
    
            <div class="do">
                <div class="title">
                    <i class="fab fa-phoenix-framework"></i> DO
                </div>
                <div class="card" id="card-title-do" v-for="data in dataDo" :key="data.id">
                    <div class="card-content">
                      <p>{{ data.title }}</p>
                    </div>
                    <div class="card-tabs" id="do-card-title-center">
                        <i class="fas fa-user"></i>
                        <i class="fas fa-edit"></i>
                        <a @click="hapus(data.id)"><i class="fas fa-trash-alt" ></i></a>
                    </div>
                    <div class="card-content grey lighten-4" id="do-card-title-bottom">
                        <i class="fas fa-backward" id="prev-do"></i>
                        <i class="fas fa-forward" id="next-do"></i>
                    </div>
                </div>
            </div>
            
            <div class="actual">
                <div class="title">
                    <i class="fab fa-phoenix-framework"></i> ACTUAL
                </div>
                <div class="card" id="card-title-actual" v-for="data in dataActual" :key="data.id">
                    <div class="card-content">
                      <p>{{ data.title }}</p>
                    </div>
                    <div class="card-tabs" id="actual-card-title-center">
                        <i class="fas fa-user"></i>
                        <i class="fas fa-edit"></i>
                        <a @click="hapus(data.id)"><i class="fas fa-trash-alt" ></i></a>
                    </div>
                    <div class="card-content grey lighten-4" id="actual-card-title-bottom">
                        <i class="fas fa-backward" id="prev-do"></i>
                        <i class="fas fa-forward" id="next-do"></i>
                    </div>
                </div>
            </div>
    
            <div class="done">
                <div class="title">
                    <i class="fab fa-phoenix-framework"></i> DONE
                </div>
                <div class="card" id="card-title-done" v-for="data in dataDone" :key="data.id">
                    <div class="card-content">
                      <p>{{ data.title }}</p>
                    </div>
                    <div class="card-tabs" id="done-card-title-center">
                        <i class="fas fa-user"></i>
                        <i class="fas fa-edit"></i>
                        <a @click="hapus(data.id)"><i class="fas fa-trash-alt" ></i></a>
                    </div>
                    <div class="card-content grey lighten-4" id="done-card-title-bottom">
                        <i class="fas fa-backward" id="prev-do"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./main.js"></script>
</body>
</html>