* {
    margin: 0;
}

body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/153/301/non_2x/vector-old-dirty-grunge-note-paper-background.jpg");
}

nav {
    padding: 20px 30px;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: 15pt;
}

.nav-center ul{
    display: flex;
    flex-direction: row;
}

.nav-center ul li{
    list-style: none;
}

.nav-center ul li a {
    color: white;
    text-decoration: none;
}

.home {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.home .plan {
    height: fit-content;
    width: 20vw;
    max-height: 100vh;
    padding: 20px 10px;
    border-radius: 5px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.home .plan::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE and Edge */
.home .plan {
    -ms-overflow-style: none;
}

.home .plan .title {
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 30px;
}

#card-title {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#plan-card-title-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    padding: 10px 10px;
}

#plan-card-title-bottom {
    padding: 5px 5px;
    display: flex;
    justify-content: flex-end;
}

.home .plan #plan-card-title-bottom #next {
    font-size: 35px;
    color: greenyellow;
}





.home .do {
    height: fit-content;
    width: 20vw;
    max-height: 100vh;
    padding: 20px 10px;
    border-radius: 5px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.home .do::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE and Edge */
.home .do {
    -ms-overflow-style: none;
}

.home .do .title {
    background-color:yellow;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 30px;
}

#card-title-do {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#do-card-title-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    padding: 10px 10px;
}

#do-card-title-bottom {
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}

.home .do #do-card-title-bottom #next-do {
    color: greenyellow;
}

.home .do #do-card-title-bottom #prev-do {
    color: red;
}




.home .actual {
    height: 50vh;
    width: 20vw;   
    padding: 20px 30px;
    background-color: green;
}

.home .done {
    height: 50vh;
    width: 20vw;
    padding: 20px 30px;
    background-color: blue;
}