.board-container {
    width: 98%;
    .add-card-btn {
        color: white;
    }
    .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        .t {
            background-color: $columnBackgroundColor;
            border-radius: 10px;
            margin: 5px 5px;
            .card-title {
                margin-top: 8px;
                padding: 8px 0px;
                margin-bottom: 8px;
                border-radius: 10px 10px 0px 0px;
                font-weight: bold;
                color: white;
                font-size: 18pt;
            }
            .cards-column {
                background-color: inherit;
                max-height: 60vh;
                overflow: auto;
                margin-top: 10px;
                .card {
                    display: flex;
                    flex-direction: column;
                    padding: 5px;
                    .card-title {
                        border-radius: 0px;
                        color: black;
                        background-color: transparent;
                    }
                    .card-text{
                        background-color: inherit;
                        margin-bottom: 8px;
                    
                    }
                    .task-actions {
                        background-color: transparent;
                        display: flex;
                        justify-content: space-between;
                        a {
                            margin: 0px 6px;
                        }
                    }
                }
            }
        }
    }
}













